# **Hey Geeks !!** 
## Wanna learn python ? 

### Come lets go on a journey with codebugged



### What is Python ?
##### Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability through use of significant whitespace.

In [1]:
print("Machine Learning Project setup completed.")

Machine Learning Project setup completed.

In [2]:
a = int(input("enter first number"))
b = int(input("enter second number"))
print("addition of two number = ",(a+b))
print("subtraction of two number = ",(a-b))
print("multiplication of two number = ",(a*b))
print("division of two number = ",(a/b))

enter first number5
enter second number10
addition of two number =  15
subtraction of two number =  -5
multiplication of two number =  50
division of two number =  0.5

In [3]:
import math
a = -7.1
print (math.fabs(a))

7.1

In [4]:
import sys
print("sys.version=",sys.version)
print("sys.version_info",sys.version_info)
print("sys.platform=",sys.platform)
print("sys.path=",sys.path)

sys.version= 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]
sys.version_info sys.version_info(major=3, minor=6, micro=5, releaselevel='final', serial=0)
sys.platform= win32
sys.path= ['', 'C:\\Users\\SARTHAK\\Anaconda3\\python36.zip', 'C:\\Users\\SARTHAK\\Anaconda3\\DLLs', 'C:\\Users\\SARTHAK\\Anaconda3\\lib', 'C:\\Users\\SARTHAK\\Anaconda3', 'C:\\Users\\SARTHAK\\Anaconda3\\lib\\site-packages', 'C:\\Users\\SARTHAK\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\SARTHAK\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\SARTHAK\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\SARTHAK\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\SARTHAK\\.ipython']

In [5]:
import random
print("random.randint(1,100)=",random.randint(1,100))
print("random.randint(1,100)=",random.randint(1,100))
print("randrange(100,1000,5):",random.randrange(100,1000,5))

random.randint(1,100)= 67
random.randint(1,100)= 98
randrange(100,1000,5): 475

In [6]:
import datetime
now = datetime.datetime.now()
print("now=",now)
print(now.year,now.month,now.day, \
        now.hour, now.minute, now.second, now.microsecond )
print(now.strftime("%B"))
print(now.strftime("%b"))

now= 2019-10-23 21:55:09.354324
2019 10 23 21 55 9 354324
October
Oct

In [8]:
name = input("what is your name")
print(type(name),name)

age = int(input("what is your age"))
print(type(age),age)

s1 = input()
print("value of S1 =",s1)

what is your namecodebugged
<class 'str'> codebugged
what is your age2
<class 'int'> 2
k
value of S1 = k

In [9]:
num = int(input("Enter any number:"))
if(num<0):
    print("its a negative number")
    print("noida")
else:
    print("its a positive number")
    print("meerut")
    print("iitk")

Enter any number:5
its a positive number
meerut
iitk

In [10]:
x = int(input("Please enter age:"))

if x<12:
    print('you are a kid')
elif x<18:
    print('you are young')
else:
    print('you have grown up')

Please enter age:5
you are a kid

In [11]:
c = 1
while (c<=5):
    print("count=",c,end=' ')
    c += 1
print("\ncount=",c)

count= 1 count= 2 count= 3 count= 4 count= 5
count= 6

In [12]:
c=1
while(True):
    print("count=",c)
    c+=1
    if c==4:
        break

count= 1
count= 2
count= 3

In [13]:
for ch in "CODEBUGGED":
    print('Hello = ',ch)

Hello =  C
Hello =  O
Hello =  D
Hello =  E
Hello =  B
Hello =  U
Hello =  G
Hello =  G
Hello =  E
Hello =  D

In [14]:
print( range(5) )

range(0, 5)

In [15]:
arr=["mary",'had','a','little','lamb']
for i in range(len(arr)):
    print(i,"=",arr[i])

0 = mary
1 = had
2 = a
3 = little
4 = lamb

In [16]:
arr=["mary",'had','a','little','lamb']
print(enumerate(arr))
for i,j in enumerate(arr):
    print(i,"=",j)

<enumerate object at 0x00000144ED403FC0>
0 = mary
1 = had
2 = a
3 = little
4 = lamb

In [17]:
arr=["mary",'had','a','little','lamb']
for i in enumerate(arr):
    print(i)
for i,j in enumerate(arr):
    print(i)

(0, 'mary')
(1, 'had')
(2, 'a')
(3, 'little')
(4, 'lamb')
0
1
2
3
4

In [18]:
for num in range(1,11):
    print(num)
    if(num == 50):
        break
else:
    print('This is else block of for loop')

for num in range(1,11):
    print(num)
    if(num == 5):
        break
else:
    print('This is else block of for loop')

1
2
3
4
5
6
7
8
9
10
This is else block of for loop
1
2
3
4
5

In [19]:
alpha = input("Enter alphabet to search:")
for ch in "INDIA":
    if(ch == alpha):
        print(alpha,"found is the given word")
        break
else:
    print(alpha,"not found is the given word")

Enter alphabet to search:i
i not found is the given word

In [20]:
n = int(input("Enter any number"))
c=0
for i in range (2,n):
    if (n % i == 0):
        print("Number is not prime")
        break
else:
    print("prime")

Enter any number65
Number is not prime

In [21]:
a = input()
print(a[::-1])

hgy
ygh

In [22]:
a = input()
if (a== a[::-1]):
    print("palindrome")
else:
    print("not palindrome")

naman
palindrome

In [23]:
a = ["Noida","Delhi","Lucknow","Goa","Kanpur"]
a[3] = 'UK'
print (a)

a.append("Patna")
print(a)
del a[1]
print(a)

['Noida', 'Delhi', 'Lucknow', 'UK', 'Kanpur']
['Noida', 'Delhi', 'Lucknow', 'UK', 'Kanpur', 'Patna']
['Noida', 'Lucknow', 'UK', 'Kanpur', 'Patna']

In [24]:
tu = ("python",'java','jzee','android','hadoop')
print(type(tu),tu)
#tu[3] = "rdbms" #this line is error
print("tu.index('android')=",tu.index('android'))
print("'hadoop'in tu=", 'hadoop'in tu)
print("'crysta'in tu=", 'crysta'in tu)

<class 'tuple'> ('python', 'java', 'jzee', 'android', 'hadoop')
tu.index('android')= 3
'hadoop'in tu= True
'crysta'in tu= False

In [25]:
tu = ("python",'java','jzee','android','hadoop')
print("Items in tuple tu=", len(tu))
print("min(tu)=",min(tu))
print("max(tu)=",max(tu))

Items in tuple tu= 5
min(tu)= android
max(tu)= python

In [26]:
tu = ("python",'java','jzee','android','hadoop')
print("enumerate(tu)=",enumerate(tu))
print("enumerate(tu)=",tuple(enumerate(tu)))
print("enumerate(tu)=",list(enumerate(tu)))
for k, v in enumerate(tu):
    print(k,"=",v)
for r in enumerate(tu):
    print(r)

enumerate(tu)= <enumerate object at 0x00000144ED404168>
enumerate(tu)= ((0, 'python'), (1, 'java'), (2, 'jzee'), (3, 'android'), (4, 'hadoop'))
enumerate(tu)= [(0, 'python'), (1, 'java'), (2, 'jzee'), (3, 'android'), (4, 'hadoop')]
0 = python
1 = java
2 = jzee
3 = android
4 = hadoop
(0, 'python')
(1, 'java')
(2, 'jzee')
(3, 'android')
(4, 'hadoop')

In [27]:
def group1():
    a = int(input("Enter first number:"))
    b = int(input("Enter second number:"))
    c=a+b
    print("Addition result=",c)
    return

group1()
print("="*20)
group1()

Enter first number:6
Enter second number:12
Addition result= 18
====================
Enter first number:5
Enter second number:65
Addition result= 70

In [28]:
def group2(x,y):
    c=a+b
    print("Addition result=",c)
    return

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
group2(a,b)

Enter first number:5
Enter second number:36
Addition result= 41

In [29]:
def group3(x,y):
    c=x+y
    return c

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
print("Addition result=",group3(a,b))

Enter first number:6
Enter second number:5
Addition result= 11

In [30]:
def show(empName, phone="1234567890", city="Lucknow", company="XYZ"):
    print("\nempName=",empName,
    "phone=",phone, "city=",city,"company=",company)

show("Chintu")

show("Chintu","999888")

show(empName="Pappu",phone="877666")
show(phone="877666",empName="Pappu")
show(city="Kanpur", empName="Pappu")

show("Alisha","9898",city="Delhi")

#show()
#show(empName="sarthak",'99998888') //error

empName= Chintu phone= 1234567890 city= Lucknow company= XYZ

empName= Chintu phone= 999888 city= Lucknow company= XYZ

empName= Pappu phone= 877666 city= Lucknow company= XYZ

empName= Pappu phone= 877666 city= Lucknow company= XYZ

empName= Pappu phone= 1234567890 city= Kanpur company= XYZ

empName= Alisha phone= 9898 city= Delhi company= XYZ

In [31]:
def disp1(*arr):
    print("type(arr)=",type(arr),arr)
    for num in arr:
        print(num,)
    print("\n")
disp1(5,6,7,8)
disp1(2,3)
disp1()
disp1(9)

type(arr)= <class 'tuple'> (5, 6, 7, 8)
5
6
7
8


type(arr)= <class 'tuple'> (2, 3)
2
3


type(arr)= <class 'tuple'> ()


type(arr)= <class 'tuple'> (9,)
9

In [32]:
def disp(**arr):
    print(type(arr),arr)
    for k in arr.keys():
        print(k,"=",arr[k])

disp(a="android",b='Python',c='Java')
disp()

<class 'dict'> {'a': 'android', 'b': 'Python', 'c': 'Java'}
a = android
b = Python
c = Java
<class 'dict'> {}

In [33]:
def sum(*values):
    sum=0
    for num in values:
        sum+=num
    print("Addition result of %d numbers= %d"%(len(values),sum))
    return

sum(2,3,4,5)
sum(3,4,6)

Addition result of 4 numbers= 14
Addition result of 3 numbers= 13

In [34]:
def display(a,*args):
    print("value of a",a)
    print("length of args:",len(args))

display(1)
display(9)
display(1,2,3,4)
display(5,6)

value of a 1
length of args: 0
value of a 9
length of args: 0
value of a 1
length of args: 3
value of a 5
length of args: 1

In [36]:
def message(a,*args,**pairs):
    print("value of a:",a)
    for num in args:
        print(num,)
    print("\n\n")

    for k in pairs:
        print(k,"=",pairs[k])
    print()

    mykeys = sorted(pairs.keys())
    for k in mykeys:
        print(k,":",pairs[k] )

    return

message("A","B","C","D",name="sarthak",phone="9998887776",city="lucknow")

value of a: A
B
C
D



name = sarthak
phone = 9998887776
city = lucknow

city : lucknow
name : sarthak
phone : 9998887776

In [37]:
def show(*arr):
    print("No. of element in arr=",len(arr))
    print("Data type of arr",type(arr))
    print(arr)

show(1,2,3,4,5)
print("\n")

list1 = [1,2,3,4,5]
show( list1 )
print()
show(*list1)

No. of element in arr= 5
Data type of arr <class 'tuple'>
(1, 2, 3, 4, 5)


No. of element in arr= 1
Data type of arr <class 'tuple'>
([1, 2, 3, 4, 5],)

No. of element in arr= 5
Data type of arr <class 'tuple'>
(1, 2, 3, 4, 5)

In [38]:
def show(*arr):
    print("No. of elements in arr=",len(arr))
    print("Data type of arr=",type(arr))
    print(arr)
show(1,2,3,4,5)
print("\n")
list1 = [1,2,3,4,5]
show(list1)

print()
show(*list1)

print()
tuple1=(1,2,3,4,5)
show(tuple1)
show(*tuple1)

No. of elements in arr= 5
Data type of arr= <class 'tuple'>
(1, 2, 3, 4, 5)


No. of elements in arr= 1
Data type of arr= <class 'tuple'>
([1, 2, 3, 4, 5],)

No. of elements in arr= 5
Data type of arr= <class 'tuple'>
(1, 2, 3, 4, 5)

No. of elements in arr= 1
Data type of arr= <class 'tuple'>
((1, 2, 3, 4, 5),)
No. of elements in arr= 5
Data type of arr= <class 'tuple'>
(1, 2, 3, 4, 5)

In [39]:
def show(name="N",phone="P",city="C"):
    print("NAME=",name)
    print("PHONE=",phone)
    print("CITY=",city)
show(name='INDIA',phone='1111',city='Noida')
dict1 = {'name':'INDIA','phone':'1111','city':'Noida'}
show(dict1)
show(**dict1)

NAME= INDIA
PHONE= 1111
CITY= Noida
NAME= {'name': 'INDIA', 'phone': '1111', 'city': 'Noida'}
PHONE= P
CITY= C
NAME= INDIA
PHONE= 1111
CITY= Noida

In [40]:
print(range(3,6))
args = [3,6]
for num in range(args[0],args[1]):
    print(num,end=" ")
print("\n")

for num in range(*args):
    print(num,end=" ")
print("\n")

range(3, 6)
3 4 5

3 4 5

In [41]:
mylist = list()
print(mylist)

mylist=[]
print(mylist)

mylist=list(range(1,11))
print(mylist)

mylist=range(1,11)
print(mylist)

text="INDIA"
mylist=list(text)
print(mylist)

d = {'A':'JAVA','B':'J2EE','C':'ANDROID','D':'Python','E':'Hadoop','Key':'Value'}
print("dictionary =",d)
d['B']='INDIA'
d['F']='JAPAN'
print(d)

print("d['B']=",d['B'])
print("len(d)=",len(d))
print("'A' in d=", 'A'in d)
print("a in d =",'a'in d)

print("d.keys()=",d.keys())
print("sorted(d.keys())=",sorted(d.keys()))
print("d.values()=",d.values())
print("d.items()",d.items())

keyList = d.keys()
for k in sorted(keyList):
    print(k,d[k])
for key, value in d.items():
    print(key,"=",value)

del d['E']
print("After deletion of 'E' ", d)
print("d['B'] =", d['B'])

print("len(d) =", len(d))

print("'A' in d= ", 'A' in d)
print("'a' in d= ", 'a' in d)

print("d.keys()= ", d.keys())
print("sorted(d.keys()) = ", sorted(d.keys()))
print("d.values() = ", d.values())
print("d.items() = ", d.items())


keylist=d.keys()
for k in sorted(keylist) :
    print(k, d[k])


for key, value in d.items():
    print(key, "=", value)
#print("d['z'] = ", ,d[Z]

print("d.get('Z')=",d.get('Z'))

[]
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
range(1, 11)
['I', 'N', 'D', 'I', 'A']
dictionary = {'A': 'JAVA', 'B': 'J2EE', 'C': 'ANDROID', 'D': 'Python', 'E': 'Hadoop', 'Key': 'Value'}
{'A': 'JAVA', 'B': 'INDIA', 'C': 'ANDROID', 'D': 'Python', 'E': 'Hadoop', 'Key': 'Value', 'F': 'JAPAN'}
d['B']= INDIA
len(d)= 7
'A' in d= True
a in d = False
d.keys()= dict_keys(['A', 'B', 'C', 'D', 'E', 'Key', 'F'])
sorted(d.keys())= ['A', 'B', 'C', 'D', 'E', 'F', 'Key']
d.values()= dict_values(['JAVA', 'INDIA', 'ANDROID', 'Python', 'Hadoop', 'Value', 'JAPAN'])
d.items() dict_items([('A', 'JAVA'), ('B', 'INDIA'), ('C', 'ANDROID'), ('D', 'Python'), ('E', 'Hadoop'), ('Key', 'Value'), ('F', 'JAPAN')])
A JAVA
B INDIA
C ANDROID
D Python
E Hadoop
F JAPAN
Key Value
A = JAVA
B = INDIA
C = ANDROID
D = Python
E = Hadoop
Key = Value
F = JAPAN
After deletion of 'E'  {'A': 'JAVA', 'B': 'INDIA', 'C': 'ANDROID', 'D': 'Python', 'Key': 'Value', 'F': 'JAPAN'}
d['B'] = INDIA
len(d) = 6
'A' in d=  True
'a' in d=  False
d.keys()=  dict_keys(['A', 'B', 'C', 'D', 'Key', 'F'])
sorted(d.keys()) =  ['A', 'B', 'C', 'D', 'F', 'Key']
d.values() =  dict_values(['JAVA', 'INDIA', 'ANDROID', 'Python', 'Value', 'JAPAN'])
d.items() =  dict_items([('A', 'JAVA'), ('B', 'INDIA'), ('C', 'ANDROID'), ('D', 'Python'), ('Key', 'Value'), ('F', 'JAPAN')])
A JAVA
B INDIA
C ANDROID
D Python
F JAPAN
Key Value
A = JAVA
B = INDIA
C = ANDROID
D = Python
Key = Value
F = JAPAN
d.get('Z')= None

In [42]:
from operator import itemgetter
print ("itemgetter(2)=",itemgetter(2)(range(11,21)))
tu = ('Python','Java','J2EE','Android','Hadoop')
print("itemgetter(2)=",itemgetter(2)(tu))

itemgetter(2)= 13
itemgetter(2)= J2EE

In [43]:
from operator import itemgetter
products = [('Mouse',400),('Keyboard',300),('Monitor',400),('CPU',800),('UPS',200)]
print(sorted(products,key=itemgetter(1),reverse = True))
print(sorted(products,key=itemgetter(0)))
print(sorted(products,key=itemgetter(1,0)))

s1 = "   sarthak srivastava   "
print(s1.strip(" "))


s2= "abhinav singh"
print(s2.strip(" ").upper())
#for changin entire wird to upper case letters

[('CPU', 800), ('Mouse', 400), ('Monitor', 400), ('Keyboard', 300), ('UPS', 200)]
[('CPU', 800), ('Keyboard', 300), ('Monitor', 400), ('Mouse', 400), ('UPS', 200)]
[('UPS', 200), ('Keyboard', 300), ('Monitor', 400), ('Mouse', 400), ('CPU', 800)]
sarthak srivastava
ABHINAV SINGH

In [44]:
def printName(first, last, onlyLast=False):
    if onlyLast:
        print(last)
    else:
        print(first, last)
#printName('Gonsalves', first='Anthony')

In [45]:
FACTOR = 10
def f(r):
  return FACTOR * r
def update_FACTOR():
  FACTOR = 16
x =f(5)
update_FACTOR()
y = f(5)
print (x, y)

50 50